* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1194px;
  margin: auto;
}
.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.header__form-search {
  margin-left: 76px;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  display: flex;
  max-width: 620px;
  flex-grow: 1;
  position: relative;
}
.header__form-search1 {
  border-color: transparent;
  border: none;
  width: 100%;
  padding: 13px 20px 13px;
}
.header__form-search2 {
  border-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding-left: 18px;
  padding-right: 18px;
  cursor: pointer;
}
.header__id {
  margin-left: auto;
}
.header__id-log {
  background: #ebebeb;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
.header__id-shop {
  width: 49px;
  height: 49px;
  text-decoration: none;
  border-radius: 50%;
  background: #f66a15;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  position: relative;
}
.header__id-shop-coun {
  background: #ffaf19;
  font-size: 8px;
  line-height: 9px;
  border-radius: 50%;
  color: #000;
  position: absolute;
  display: block;
  padding: 5px;
  bottom: 0;
  right: 0;
}

.main__slider-slide {
  position: relative;
  min-height: 400px;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  padding: 100px;
  align-items: center;
  margin-bottom: 50px;
}
.main-slider-cont {
  max-width: 400px;
  position: relative;
}
.slider-buttons {
  position: absolute;
  right: 46px;
  bottom: 90px;
  z-index: 9;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}
.slider-button {
  cursor: pointer;
}
.swiper {
  position: relative;
}
.main__slider-slide-light {
  color: #ffff;
  background-color: gray;
}
.main__slider-slide-sum {
  background-image: url(../img/sum.png);
  background-repeat: no-repeat;
  box-sizing: content-box;
}
.main__slider-slide-ot {
  background-image: url(../img/ot.png);
  background-repeat: no-repeat;
  box-sizing: content-box;
}
.main__slider-slide-vi {
  background-image: url(../img/vi.png);
  background-repeat: no-repeat;
  box-sizing: content-box;
}
.main__slider-slide::before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.43) 40.45%,
    rgba(0, 0, 0, 0) 100%
  );
}

.main__slider-slide-title {
  font-size: Bold;
  margin-bottom: 15px;
  font-size: 50px;
  line-height: 51px;
}

.main__slider-slide-text {
  font-style: Bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}
.main__slider-slide-button {
  background-color: #f47322;
  color: #ffff;
}

.button {
  border-radius: 25px;
  padding: 13px 52.8px 13px;
  text-decoration: none;
  display: inline-block;
  font-style: Medium;
  font-size: 14px;
  line-height: 23px;
}

.promo {
  display: flex;
  margin: -20px;
  justify-content: space-between;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding: 32px;
  max-width: 570px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 50%;
  margin: 20px;
}
.card-img {
  left: 0;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}

.card-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 160px;
}

.card-pay {
  font-weight: 500;
  font-size: 24px;
  display: block;
  line-height: 23px;
  padding-bottom: 8px;
}
.card-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: block;
  margin-bottom: 25px;
}

.card-button {
  color: #5f5f61;
  background: #ffffff;
}

.card::before {
  z-index: -1;
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.card-light {
  color: #ffff;
}

.sec-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 47px;
}
.dell-wek {
  margin: 100px 0;
}
.del-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.del-card {
  width: 275px;
  height: 182px;
  overflow: hidden;
  border-radius: 18px;
  position: relative;
  margin: 15px;
}
.del-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.del-teg {
  position: absolute;
  left: 10px;
  top: 16px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
  padding: 5px 10px;
}

.t-hel {
  background: #d0fd89;
}

.t-sel {
  background: #fef7fe;
}
.t-met {
  background: #b86b78;
}
.t-veg {
  background: #aebc41;
}
.t-ch {
  background: #d68334;
}
.t-fish {
  background: #cd6255;
}
.t-chil {
  background: #fffdbf;
}
.t-per {
  background: #f6fdc8;
}
.sec-g {
  background: #f6f6f6;
}
.cat {
  padding-top: 40px;
  padding-bottom: 60px;
}

.tabs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 62px;
}
.tab-link {
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
  text-decoration: none;
  padding-right: 58px;
}
.tab-link.active {
  font-size: 20px;
  line-height: 23px;

  color: #f37321;
}
.tabs-cont {
  display: flex;
  justify-content: space-between;
}

.tab-card {
  max-width: 274px;
  min-height: 471px;
  border-radius: 20px;
  overflow: hidden;
  background: #ebebeb;
}
.tab-img {
  max-width: 100%;
}

.tabs-in {
  padding: 28px 25px 21px;
}
.tab-tit {
  padding-top: 0;
  padding-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.tab-dis {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #b9b9be;
}
.tab-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tab-pr {
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4b4b51;
  display: block;
  margin-bottom: 5px;
}
.tab-weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #aaaab1;
}
.tab-boot {
  background-color: transparent;
  padding: 15px 25px;
  border: 2px solid #f37321;
  box-sizing: border-box;
  border-radius: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #f37321;
  cursor: pointer;
}
.pr {
  padding-top: 40px;
  padding-bottom: 60px;
}
.prtit {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000000;
}
.prs-cont {
  display: flex;
  justify-content: space-between;
}
.pr-card {
  max-width: 270px;
  min-height: 296px;
  margin: 0px 37px;
  display: block;
  align-items: center;
}
.pr-img {
  width: 60px;
  height: 60px;
  margin: 30px 105px;
}
.pr-tit {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
.pr-dis {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #49494f;
}
.cen {
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 315px;
}
.footer {
  padding: 40px 0;
  background: #f6f6f6;
}
.fot-wrap {
  display: flex;
  align-items: center;
}

.navi {
  font-size: 16px;
  line-height: 23px;
  margin: 0px 50px;

  text-decoration-line: underline;

  color: #000000;
}
.so-ls {
  display: flex;
  align-items: center;

  margin: auto;
}
.so-l {
  text-decoration: none;
  margin-left: 20px;
}
